.App {
    
  padding: 20px;
  display: grid;
  text-align: center;
 place-content: center;

}
html{
  background-color: black;
}

:root{
  
  display: grid;

}
body{
  
   
  background-image:url(/public/bg1.png);
  background-size:contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: top;

 
}

.character-card{
  border-radius: 40px;
  border: solid 5px #893446;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3) ;
  display: flex;
  background-color:#b56888;
  padding: 30px;
  
}
.description{
  margin: 2rem;
  color: white;
}


.character-card1{
  
  display: grid;
  
 place-content: center;
  grid-template-columns: auto auto  auto auto ;


}

.buscador{
  display: grid;
  grid-template-columns: auto auto ;
  text-align: center;
  place-content: center;
  margin: 0px  50px 10px;
  
  
}
.get{
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 196, 0);
}
#casilla{
  border-radius: 7px;
 
 
}

.card{
  background-color:#b56888;
  display: grid;
  margin: 5px;
  border: solid 5px #893446;
  width: 170px;
  min-height: 100px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3) ;
  border-top-right-radius: 100rem;
  padding: 15px;
 
}

.card1{
  color: white;
 margin: 5px;
 display: flex;

}
.card2{
   background-color:#c9bedc ;
   border-bottom-right-radius: 80px;
   display: grid;
   
}

.circle{
  border:solid  5px #893446 ;
  border-radius: 50%;
  display: grid;
 
}
.name{
  background-color:darkkhaki ;
  margin: 0;
  border-radius:13px ;
   color: #893446;
}

.keys{
  
  color: #893446;
}

@media (max-width: 768px) {
  .character-card1{
  
    display: grid;
    
   place-content: center;
    grid-template-columns: auto auto auto;
  
  
  }
}  
@media (max-width: 400px) {
  .character-card1{
  
    display: grid;
    
   place-content: center;
    grid-template-columns: auto  ;
  
  
  }
}  
